/* General styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: black;
    color: white;
    overflow-x: hidden;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: black;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav{
    width: 100%;
    align-items: center;
    display: flex;
    gap: 30px;
    height: 50px;
    justify-content: cneter;
}

a{
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 28px;
    padding: 0.5rem 1rem;
    transition: color 0.25s;
}

a::after{
    position: absolute;
    content: "";
    inset: 0;
    background: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

a:hover{
    color: black;
}
a:hover::after{
    scale: 1 1;
}
#logo{
    width: 10%;
}
img{
    max-width: 100%;
}

nav ul a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

  /* Hero section */
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
  }
  
  .center-image {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Footer */
  .footer {
    text-align: center;
    padding: 10px;
    background: black;
    font-size: 0.9rem;
  }
  